.about {
    background-color: #d74680;
    color: white;

    .container {
        .section-header {
            .breakline {
                background-color: #b73c6d;
            }
        }

        .about-container {
            .about-items {
                padding: 0 10px;
                margin-top: 50px;
                flex-basis: 50%;
    
                .about-image {
                    flex-basis: 20%;
                    align-self: flex-start;
                    width: 130px;
                    height: 130px;
                    overflow: hidden;
    
                    img {
                        width: 100%;
                    }
                }
    
                .about-opinion {
                    flex-basis: 70%;
    
                    h3 {
                        text-transform: uppercase;
                        margin-bottom: 8px;
                    }
    
                    .title {
                        font-size: 14px;
                        color: #ffdd99;
                    }
                }
            }
        }
    }

    
}

@media all and (max-width: $large) {
    .about {
        .container {
            .about-container {
                .about-items {
                    flex-basis: 100%;
                    

                    &:nth-child(even) {
                        flex-direction: row-reverse;
                        text-align: right;
                    }
                }

                
            }
        }

    }
}