.contact {
    background-color: #3c5499;

    .container {
        .section-header {
            color: #fff;

            .breakline {
                background-color: #273a71;
            }
        }
    }
}