header {
    background-color: #87509c;

    .navbar {
        height: 10vh;
        @include flexbox;
        @include flex-align(space-between, center);

        .navbar-logo {
            align-self: center;
            font-size: 24px;

            i {
                margin-right: 5px;
            }
        }

        .navbar-items {
            @include flexbox;
            list-style: none;

            .navbar-item {
                text-align: center;

                a {
                    padding: 5px 15px;
                    margin: 0 2px;

                    &:hover {
                        background-color: #643a79;
                        border-radius: 5px;
                    }
                }
            }
        }

        .navbar-hamburger {
            display: none;
            cursor: pointer;

            div {
                width: 25px;
                height: 3px;
                background-color: #fff;
                margin: 5px;
            }
        }
    }

    .hero {
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            text-align: center;
            color: #fff;
            font-weight: 400;
            letter-spacing: 1px;
            margin-bottom: 70px;
        }

        .hero-btn {
            padding: 15px 80px;
            background-color: #eb7d4b;
            box-shadow: 0 3px 2px #bb643c;
            font-size: 12px;

            &:hover {
                background-color: #bb643c;
                transform: translateY(-5px);
            }
        }
    }

    @media all and (max-width: $large) {
        .navbar {
            .navbar-items {
                .navbar-item {
                    a {
                        padding: 5px 10px;
                        margin: 0;
                    }
                }
            }
        }

        .hero {
            h1 {
                font-size: 28px;
            }
        }
    }

    @media all and (max-width: $medium) {
       .navbar {
           .navbar-logo {
               font-size: 20px;
           }

           .navbar-items {
               position: absolute;
               top: -100%;
               right: 50%;
               transform: translateX(50%);
               width: 100%;
               height: 50vh;
               justify-content: space-around;
               flex-direction: column;
               background-color: #eb7d4b;
               border-radius: 0 0 20px 20px;
               transition: all .3s;
               padding-bottom: 30px;

               .navbar-item {
                   width: 50%;
                   height: 10%;
                   margin: 0 auto;

                   a {
                       font-size: 18px;
                       padding: 10px 0;
                   }
               }

               &.active {
                   top: 0;
               }
               
           }

           .navbar-hamburger {
               display: block;
               z-index: 999;

               
           }
       }

        .hero {
            h1 {
                font-size: 24px;
            }
        }
    }
}
