.team {
    background-color: #e7f1f8;

    h1 {
        font-weight: 600;
        color: #3c4761;
    }

    .breakline {
        background-color: #c8d9e5;
    }

    .team-container {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
    

    .infobox {
        

        h2,
        h3 {
            margin: 0;
        }

        p {
            margin-top: 15px;
            font-weight: 400;
        }

        h2 {
            font-size: 20px;
            text-transform: uppercase;
            margin-top: 10px;
            color: #3c4761;
        }

        h3 {
            font-weight: 300;
            font-size: 16px;
            color: #55c2e9;
        }

        .infobox-team-member {
            flex-basis: 20%;
            margin-top: 60px;
            text-align: center;

            .circle {
                width: 170px;
                height: 170px;
                background-color: #696969;
                border-radius: 50%;
                margin: 0 auto;
            }

            .infobox-icons {
                @include flexbox;
                justify-content: center;

                .infobox-icon {
                    width: 30px;
                    height: 30px;
                    background-color: rgb(172, 172, 172);
                    border-radius: 50%;
                    text-align: center;
                    line-height: 30px;
                    margin: 20px 2px;
                    cursor: pointer;
                    transition: all .3s;

                    &:hover {
                        background-color: #3badff;
                    }

                    .fab,
                    .fas {
                        color: #fff;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    }
    
}

@media all and (max-width: $large) {
    .team {
        .team-container {
            .infobox {
                .infobox-team-member {
                    flex-basis: 50%;

                    p {
                        padding: 0 50px;
                    }
                }
            }
        }
    }
}

@media all and (max-width: $small) {
    .team {
        .team-container {
            .infobox {
                margin-top: 30px;

                .infobox-team-member {
                    flex-basis: 100%;
                    margin: 5px 0;

                    p {
                        padding: 0 40px;
                    }
                }
            }
        }
    }
}