/* Global Settings */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Titillium Web", sans-serif;
}

/* Header */

.hero-container {
    background-color: #87509c;
    height: 80vh;
}

.main-menu {
    width: 80%;
    margin: 0 auto;
}

.main-menu ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 15vh;
}

.main-menu ul .main-item {
    font-size: 2.6rem;
    list-style: none;
}

.main-menu ul .main-item a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 30px;
    cursor: pointer;
}

.main-menu ul .main-item a:hover {
    background-color: #643a79;
    border-radius: 5%;
}

.main-header {
    text-align: center;
}

.main-header .main-header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
}

.main-header .main-header-content h1 {
    font-size: 5.5rem;
    color: #fff;
    font-weight: 700;
}

.main-header .main-header-content button {
    position: relative;
    background-color: #eb7d4b;
    color: #fff;
    font-size: 2rem;
    padding: 30px 120px;
    border: none;
    border-bottom: #b15d37 5px solid;
    cursor: pointer;
    border-radius: 10px;
}





